/* You can add global styles to this file, and also import other style files */

/* Header pannello Admin */
.main-header{  height: 44px;  background-color: orange;  color: white;  position: relative; z-index: 1080;}
.logo{  padding: 8px 25px;  text-align: left;  width: 200px;  float:left;  }
.navbar-custom-menu{  float:right;}
.navbar-custom-menu ul { float:left; margin:0; list-style: none; padding-left: 0; position:relative}
.navbar-custom-menu li { float:left; padding:10px; cursor: pointer; width:65px; text-align: center;}
.navbar-custom-menu li a {color:white;}
.navbar-custom-menu li.active { background-color: #d47801;}
.navbar-custom-menu .navbar-item ul { position: absolute; width: 100%; left: 0; top: 41px; background-color: #d47801; float:unset}
.navbar-custom-menu .navbar-item li {float:unset !important; padding-left: 40px;}


/* User Panel*/
.user-panel .circle { width: 60px; height: 55px; text-align: center; font-size: 2.2rem; border-radius: 50%; border: 1px solid; margin-top: 10px; margin-left: 27px;}
.user-panel p {    font-size: 12px; padding-top: 10px;}

/* Aside Bar*/
.main-sidebar { position: absolute; width:200px; min-height: 100%; top:0; left:0; padding-top: 40px; z-index:810; background-color: #5e5d5d; color:white;}
.user-panel {padding: 5px 20px;  margin: 3px; display:table;}
.sidebar-menu {    list-style: none; margin: 0; padding: 0; overflow: hidden; white-space: nowrap;}
.sidebar-menu li.header { padding-top: 10px;  padding-left: 10px; padding-right:10px; padding-bottom: 10px; font-size: 12px; text-transform: uppercase;
color:gainsboro; background-color: #2F3133;
}
.sidebar-menu li { position: relative; margin:0; padding:0 }

.sidebar-menu li a { padding-top: 12px;  padding-left: 10px; padding-right:10px; padding-bottom: 15px; border-left:3px solid transparent; display: block;
    font-size: 14px; color: white; text-decoration: none; position: relative;
}

.sidebar-menu li.active  a {border-left:3px solid orange; background-color: #505254}
.sidebar-menu li a:hover { border-left:3px solid orange;}

.sidebar-menu li a .pull-right-container { position: absolute; right: 10px; top:50%; margin-top:-7px; }

.sidebar-menu li ul { background-color: rgba(146, 146, 146, 0.58);  margin: 0 1px; padding-left: 20px; list-style: none;}

.sidebar-menu li ul .submenu-item {font-size: 13px; /*padding:7px 5px;*/}
.sidebar-menu li.active .submenu-item a { border:unset; background-color: rgb(123, 123, 123);}

/*Content*/
.content-wrapper { margin-left: 200px; background-color: #eaeaea; min-height: 1008px;}

.content-box { padding-top:15px; padding-left:15px; padding-right: 15px; position: relative;}
.content-header > h1 { margin:0px; font-size: 24px; }
.content-header > .breadcrumb { float:right; margin-top: 0; margin-bottom: 0; position: absolute;top:15px; right: 10px; padding:0;}
.content-header > .breadcrumb li { display: inline-block; color: black; font-size: 12px;}
.content-header > .breadcrumb li.active { color:  #9c9c9c;}
.content-header > .breadcrumb > li + li::before { padding: 5px; content:'>\00a0';}

.content {  padding-top: 15px; padding-bottom:15px; margin-right: auto; margin-left:auto;}

.content .form {width: 100%;}

/*Footer*/

footer { margin-left: 200px; padding: 10px; border:1px solid #dde0e6; font-size: 12px;}

/* Portlet */

.portlet {margin-top:0; margin-bottom: 25px; padding:12px 20px 15px; background-color: white; border:1px solid #eaeaea;}
.portlet-title {padding:0px; min-height: 48px; border-bottom: 1px solid #eaeaea; margin-bottom: 10px;}
.portlet-title .caption { color:orange; font-size: 19px; float:left; display: inline-block; padding:4px;}
.portlet-body {}
.portlet-form-body {margin-top:35px; padding-bottom: 30px;}
.flex-group {display: flex;}
.control-label {text-align: right;font-size: 15px; padding-top: 4px;}

.orange {background-color: orange; color:white; border-radius: unset;}
.red { background-color: red; color:white; border-radius: unset;}