<!--The content below is only a placeholder and can be replaced.-->

<header class="main-header">
    <a class="logo">
        <span>Lortom</span>
    </a>
    <nav>
        <div class="navbar-custom-menu">
            <ul>
                <li>
                    <a>Messaggi</a>
                </li>
                <li>
                    <a>Alert</a>
                </li>
                <li>
                    <a>Configurazione</a>
                </li>
                <li>
                    <a>Profilo</a>
                </li>

            </ul>
        </div>
    </nav>
</header>

<aside class="main-sidebar">
   <section class="sidebar">
       <div class="user-panel">
           <div class="pull-left image">
               Immagine
           </div>
           <div class="pull-left info">
               Nome e Cognome
           </div>
       </div>
       <app-menu-items></app-menu-items>
   </section>
</aside>

<!-- Qui viene messo il rootlet-->
<div class="content-wrapper">
    <div class="content-box">
        <div class="content-header">
            <h1>Dashboard</h1>
            <ol class="breadcrumb">
                <li><a>Home</a></li>
                <li class="active"><a>Ciao</a></li>
            </ol>
        </div>
        <div class="content">
            Qui viene messo tutto il contenuto
        </div>
    </div>
</div>


<footer>
    &copy; Lortom 2017 - MIT License - created by Hernan Ariel De Luca
</footer>