<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="isAuth; else login">
    <header class="main-header">
        <a class="logo">
            <span>Lortom</span>
        </a>
        <app-navbar></app-navbar>
    </header>

    <aside class="main-sidebar">
       <section class="sidebar">
           <app-user-side></app-user-side>
           <app-menu-items></app-menu-items>
       </section>
    </aside>

    <!-- Qui viene messo il rootlet-->
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>


    <footer>
        &copy; Lortom 2017 - MIT License - created by Hernan Ariel De Luca
    </footer>
</div>

<ng-template #login>
    <router-outlet></router-outlet>
</ng-template>