<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="isAuth == true && isLogin == false; else login" style="position:relative;">
    <header #headerEl class="main-header">
        <a class="logo">
            <span>Lortom</span>
        </a>
        <app-navbar></app-navbar>
    </header>

    <aside class="main-sidebar">
       <div class="main-sidebar-background"></div>
       <section #elSidebar class="sidebar">
           <app-user-side [user]="user"></app-user-side>
           <app-menu-items></app-menu-items>
       </section>
    </aside>

    <!-- Qui viene messo il rootlet-->
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>


    <footer>
        &copy; Lortom 2020 - {{ year }} - MIT License - created by Hernan Ariel De Luca
    </footer>
</div>

<ng-template #login>
    <router-outlet></router-outlet>
</ng-template>