<div class="content-box">
    <div class="content-header">
        <h1>User Edit</h1>
        <ol class="breadcrumb">
            <li><a>Backend</a></li>
            <li class="active"><a>User - Modifica</a></li>
        </ol>
    </div>
    <div class="content">

        <form class="form">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i>
                        <span>Definizioni Generali</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="portlet-form-body">
                        <div class="container">
                            <div class="row">
                                    <div class="col-12">
                                        <div class="form-group flex-group">
                                            <label for="nome" class="col-md-2 control-label">Nome</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="nome" placeholder="Nome" id="nome">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group flex-group">
                                            <label for="email" class="col-md-2 control-label">Username</label>
                                            <div class="col-md-4">
                                                <input type="email" class="form-control" name="email" placeholder="Username" id="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group flex-group">
                                            <label for="password" class="col-md-2 control-label">Password</label>
                                            <div class="col-md-4">
                                                <input type="password" class="form-control" name="password" placeholder="password" id="password">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group flex-group">
                                            <label for="confirmPassword" class="col-md-2 control-label">Confirm Password</label>
                                            <div class="col-md-4">
                                                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword">
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn orange">Save</button>
                    <button class="btn red">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>