<div class="content-box">
    <div class="content-header">
        <h1>User Edit</h1>
        <ol class="breadcrumb">
            <li><a>Backend</a></li>
            <li class="active"><a>User - Modifica</a></li>
        </ol>
    </div>
    <div class="content">

        <form class="form">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-database"></i>
                        <span>Definizioni Generali</span>
                    </div>
                    <div class="actions">
                        <button class="btn darkorange" (click)="editMode()">
                            <i class="fa fa-edit"></i>
                            Edit
                        </button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="portlet-form-body">
                        <div class="container">
                            <div class="row">
                                    <div class="col-12">
                                        <div class="form-group flex-group">
                                            <label for="nome" class="col-md-2 control-label">Nome</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="nome" [ngModel] = "user.name" placeholder="Nome" id="nome" *ngIf="isEdit === false; else editName" readonly>
                                                <ng-template #editName>
                                                    <input type="text" class="form-control" name="nome" placeholder="Nome" id="nome" [(ngModel)] = "user.name" >
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group flex-group">
                                            <label for="password" class="col-md-2 control-label">Password</label>
                                            <div class="col-md-4">
                                                <input type="password" class="form-control" name="password" [ngModel] = "user.password" placeholder="password" id="password" *ngIf="isEdit === false; else editPassword" readonly>
                                                <ng-template #editPassword>
                                                    <input type="password" class="form-control" name="password" placeholder="password" id="password" [(ngModel)] = "user.password">
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group flex-group">
                                            <label for="confirmPassword" class="col-md-2 control-label">Confirm Password</label>
                                            <div class="col-md-4">
                                                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword" *ngIf="isEdit === false; else editConfirmPassword" readonly>
                                                <ng-template #editConfirmPassword>
                                                    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword" [(ngModel)]="confirm">
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn orange" (click)="saveMode()">Save</button>
                    <button class="btn red" (click)="resetMode()">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>