<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="error-page">
                <h2 class="headline text-orange"> 404 </h2>
                <div class="error-content">
                    <h3><i class="fa fa-warning fa-2x text-orange"></i> Ooops! Page not found.</h3>
                    <p> We could not find the page you were looking for. Meanwhile, you may <a [routerLink]="'/backend/dashboard'">return to dashboard</a></p>
                </div>
            </div>
        </div>
    </div>
</div>